@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents

@{
    Layout = "_GovUkLayout";
}

@await Html.GovUkErrorSummary(ViewData.ModelState)

<form method="post">
    @RenderBody()
    
    @await Html.GovUkButton(new ButtonViewModel
    {
        Text = "Submit"
    })
</form>
