@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@{
    ViewData["Title"] = "Back Link";
}

<div>
    @await Html.GovUkBackLink(new BackLinkViewModel
    {
        Href = "/",
        Text = "Back link"
    })
</div>

