@{
    ViewData["Title"] = "Demonstration Site";
}

<div class="text-center">
    <p class='govuk-body'><a asp-action="Accordion">Accordion</a></p>
    <p class='govuk-body'><a asp-action="TextInput">Text Input</a></p>
</div>